<%-include('../layouts/header')-%>
<style>
  form {
     padding: 58px 44px;
     margin-top: 30px;
  }
</style>
    
           
              <div class="card-body text-center">
                <%
                if(typeof message !== 'undefined'){
                  %> 
                  <p style="color: red;"> <%= message %></p>
                  <%
                }
                %>
                <h3 class="mb-5">Sign in</h3>
                <form action="/admin/login" method="post">
                <hr class="my-4">             
                <div class="form-outline mb-4">
                  <input type="email" name="email" id="typeEmailX-2" class="form-control form-control-lg" />
                 
                </div>
    
                <div class="form-outline mb-4">
                  <input type="password" name="password" id="typePasswordX-2" class="form-control form-control-lg" />
                  
                </div>
       
                <button class="btn btn-success btn-lg btn-block w-100" type="submit">Sign In</button>
    
                <hr class="my-4">             
              </form>
              </div>
           
          
      
     
   

<%-include("../layouts/footer.ejs")-%>