<%-include('../layouts/user-header.ejs')-%>

  <img src="/images/WEBSITE_home_page_BANNER_december_9_1512x.webp" class="img-fluid">
  <div class="container-fluid">
    <p class="text-center display-6">Center aligned text on all viewport sizes.</p>
  </div>




   

<%-include("../layouts/user-footer.ejs")-%>