<%-include('../layouts/header')-%>
<style>
  form {
        padding: 18px 44px 1px;
        margin-top: 12px;
        
        
     }
</style>

<%
if(typeof message !== 'undefined'){
  %> 
  <p style="color: red;"> <%= message %></p>
  <%
}
%>
<form action="" method="post" id="form" onsubmit="return onSubmitFunction()">
<div class="row flex-row">
  <div class="col-md-9">
  <h1>Register</h1>
</div>
<div class="col-md-3">
<a href="/"> <img src="/assets/img/brand/logo.png" width="50" height="50"></a>
</div>
</div>
  <div class="form-group row flex-row">
    <label for="email" class="col-sm-2 col-form-label">Name</label>
    <input type="email" name="name" autocomplete="off" placeholder="Name" id="name">
  </div>
  <div class="form-group row flex-row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <input type="email" name="email" autocomplete="off" placeholder="Email" id="email">
  </div>
  <div class="form-group row flex-row">
    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
       <input type="text" name="phone" id="phone" >
    </div>
  </div>
  <div class="form-group row flex-row ">
  
                    <label for="inputPassword" class="col-sm-3 col-form-label">Gender</label>
                    <div class="col-sm-9">
                   
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Male">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Female">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="Others">
                        <label class="form-check-label" for="inlineRadio3">Others</label>
                      </div>
                    </div>
                  
  <div class="form-group row flex-row mb-3">
    <label for="password" class="col-sm-3 col-form-label">Password</label>
    <input type="password" name="password" id="inputPassword">
    
  </div>
  <div class="form-group row flex-row mb-3">
    <label for="inputPassword" class="col-sm-3 col-form-label">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirm">
    
  </div>
 
  <button type="submit">Sign up</button>
   <a href="/login"
    class="text-primary fw-bold">Back to Login
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
      <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
    </svg>
  </a>

  
    <p id="error"></p>
</form>


<script>
 

  function onSubmitFunction(){
const names = document.getElementById('name');
const email = document.getElementById('email');
const phone = document.getElementById('phone');
const inputPassword = document.getElementById('inputPassword')
const confirmpass = document.getElementById('confirm')
   
    
    let errorMsg=new Array(); 
   
    
    if(names.value==''){
        
        errorMsg.push("Please provide your number!");
    }  
    if(email.value==''){
        
        errorMsg.push("Please provide your email ID!");
    }  
     
  
    if(phone.value==''){
        
        errorMsg.push("Please provide your Phone number!");
    }  
    
    else if(phone.value.length != 10){
        
        errorMsg.push("Enter 10 digit number!");
    }  
    var option=document.getElementsByName('gender');
     
    console.log(errorMsg);
if (option.length!=0 && !(option[0].checked || option[1].checked || option[2].checked)) {
    errorMsg.push("Please select one option!");
}
if(inputPassword=='' || confirmpass==''){
    errorMsg.push("Please provide password!");
}
var messageHtml = "";
errorMsg.forEach(function (message) {
    messageHtml += "<li style='color:red'>" + message + "</li>";
});
if(errorMsg.length > 0){
    
document.getElementById("error").innerHTML = messageHtml;
return false
}
if(errorMsg.length ==0){
return true
}
}
</script>


<%-include("../layouts/footer.ejs")-%>