<%-include('../layouts/header')-%>
<div class="container">
   
    <div class="vh-100 d-flex justify-content-center align-items-center ">
      <div class="col-md-5 p-5 shadow-sm border rounded-5 border-primary bg-white">
          <h2 class="text-center mb-4 text-primary">Forgot Password</h2>
          <form method="post" action="/reset-password">
              <div class="mb-3">
                  <label for="Password" class="form-label"> New Password</label>
                  <input type="password" name="password" class="form-control border border-primary" aria-describedby="emailHelp">
                  <input type="hidden" name="phoneNumber" value="<%= phoneNumber %>">
                 
              </div>
             
              <div class="d-grid">
                  <button class="btn btn-primary" type="submit">Reset Password</button>
              </div>
          </form>
         
      </div>
  </div>
</div>

<%-include("../layouts/footer.ejs")-%>